<% @categories.each do |category| %>
  <div>
    <h1><%= category.name %></h1><br />
    <ul class='links'>
    	<% category.links.each do |link| %>
    	<li class='link'><%= link.name %></li>
    	<%end%>
    </ul>
  </div>

  <hr />
<% end %>