<br />

<div class='container-fluid'>

	<% @linkbase_user.categories.each_slice(2) do |categories| %>
		<div class='row'>
			<% categories.each do |category| %>	
				<div class='col-xs-6 text-center'>
					<%= link_to category.name, '#', :class => 'list-header' %>
					<div class='link-list'>
						<ul class='col-xs-12'>
						<% category.links.each do |link| %>
							<li class='col-xs-3'><%= link.name %></li>
						<% end %>
						</ul>
					</div>
				</div>
			<% end %>
		</div>
	<% end %>

</div>
