<% @categories.each do |category| %>
  <div>
    <h1><%= category.name %></h1><br />

  	<%= category.links.each do |link| %>
  		<h4><%= link.name %></h4>
  	<% end %>

  </div>

  <hr />
<% end %>